@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">tinyballot</h1>
    <p style="font-size:1.12rem">A tiny web app that implements a simple ballot.</p>
    <a class="btn btn-primary" asp-controller="SimplePoll" asp-action="Create">Create a Poll!</a>
    <p><a asp-controller="SimplePoll" asp-action="Index">See all polls</a></p>
</div>
